
<div class="post grid-item {{ class }}">
	<div class="gi-header">
		<a class="gi-image-link" href="{{ url }}">
			<img class="gi-image-cropped"
					srcset="{{img_url feature_image size="xs"}} 100w"
					sizes="(min-width: 1170px) 100px,
									100px"
					src="{{img_url feature_image size="xs"}}"
					alt="{{title}}"
			/>
		</a>
	</div>
	<div class="gi-info">
		<h2 class="gi-title"><a class="gi-title-link" href="{{ url }}">{{title}}</a></h2>
		<p class="gi-excerpt">{{excerpt}}</p>
		<span class="gi-author"><a class="gi-author-link" href="{{primary_author.url}}">{{primary_author.name}}</a></span>
	</div>
</div>
