{{!< special-split}}

{{#page}}
<main class="site-main site-signup">
  <div class="split"></div>
  <div class="half">
    <nav class="top-navigation">
			<a class="ui button black basic" href="/">{{t "Back to homepage"}}</a>
    </nav>
    <div class="site-content site-signup inner">
      <header class="page-header">
        <h1 class="page-title">{{title}}</h1>
        <div class="page-description">{{content}}</div>
      </header>
      <!-- .page-header -->
      <div class="page-content">
        <form class="contact-form" action="https://formspree.io/{{meta_description}}" method="post">
					<input class="c-input" type="text" name="name" id="full-name" placeholder="{{t "First and Last"}}" required>
					<input class="c-input" type="email" name="_replyto" id="email-address" placeholder="{{t "Your email address"}}" required>
					<textarea class="c-input" rows="5" name="message" id="message" placeholder="{{t "Your message"}}" required></textarea>
          <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
					<input class="ui button ahred" type="submit" value="{{t "Submit"}}">
        </form>
      </div><!-- .page-content -->
    </div><!-- .site-content -->
    <div class="bottom"></div>
  </div>
</main><!-- .site-main -->
{{/page}}
